[alias]
aliases=config --get-regexp ^alias
amend=commit --amend
ci=commit
co=checkout
cp=cherry-pick
curbranch=branch --show-current
delbranch=branch -D
delremote=branch -D --remote
difftool=difftool -y
dt=difftool
ff=pull --ff
fixup=commit --fixup
graph = log --all --graph --decorate --oneline
ls=branch -l
l=log --oneline --decorate=full
l1=log --oneline --decorate=full -1
l5=log --oneline --decorate=full -5
l10=log --oneline --decorate=full -10
l15=log --oneline --decorate=full -15
l20=log --oneline --decorate=full -20
l25=log --oneline --decorate=full -25
l30=log --oneline --decorate=full -30
l35=log --oneline --decorate=full -35
l40=log --oneline --decorate=full -40
l45=log --oneline --decorate=full -45
l50=log --oneline --decorate=full -50
loselast=reset --hard HEAD~1
pushthis=!git push -u origin $(git branch --show-current)
put=pushthis	
rearrange=rebase -i HEAD~10
reword=amend
st=status
up=checkout
unpacklast=reset --soft HEAD~1
upload=put

[user]
	email = gargnitin@google.com
	name = Nitin Garg
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = true
[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
[difftool]
	prompt = false
[rebase]
	autosquash = true
