[alias]
amend=commit --amend
ci=commit
co=checkout
cp=cherry-pick
curbranch=branch --show-current
delbranch=branch -D
delremote=branch -D --remote
difftool=difftool -y
droplast=reset --soft HEAD~1
ff=pull --ff
fixup=commit --fixup
ls=branch -l
l=log --oneline --decorate=full -10
l1=log --oneline --decorate=full -1
l5=log --oneline --decorate=full -5
l10=log --oneline --decorate=full -10
l15=log --oneline --decorate=full -15
l20=log --oneline --decorate=full -20
l25=log --oneline --decorate=full -25
pushthis=!git push -u origin $(git branch --show-current)
rearrange=rebase -i HEAD~10
reword=commit --fixup reword
st=status
up=checkout


[user]
	email = gargnitin@google.com
	name = Nitin Garg
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = true
[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
[difftool]
	prompt = false
[rebase]
	autosquash = true
