# Ignore everything
*
*BACKUP*
*BASE*
*LOCAL*
*REMOTE*
*.vscode
*.orig

# But not these files...
!*.vimrc
!*.vim
!*.bashrc
!*.bash_aliases
!*.sorted_unique_bash_history
!.gitignore
!.gitconfig
!*.git/config
!.githooks
